<script type="text/ng-template"  id="tree_item_renderer.html">
    {{key}}
    <ul>
        <li ng-repeat="(key, value) in value.dependencies" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<div class="row">
  <h1 class="page-header">
    Here's where I would explain the project...
    <small>For the lazy and impatient.</small>
  </h1>
</div>
<div>
  <ul>
    <li ng-repeat="(key, value) in newData" ng-include="'tree_item_renderer.html'"></li>
  </ul>
</div>




<!-- ------------------------------------------------------------------------------------------------------------------------------

<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul ng-app="Application" ng-controller="TreeController">
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
