<script type="text/ng-template" id="field_renderer.html">
</script>
<h1>Settings</h1>
<h4>Select which licenses are accepted</h4>

<div class="container-fluid">
    <div class="row vertical-buffer">
        <button type="button" class="btn btn-primary">Add a License</button>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Approved</h3>
                </div>
                <div class="panel-body" data-drop="true" ng-model='approved' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-default"  ng-repeat="item in approved" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="approved" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="panel-body">
                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Approved</h3>
                </div>
                <div class="panel-body" data-drop="true" ng-model='notApproved' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-default"  ng-repeat="item in notApproved" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="notApproved" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="panel-body">
                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Waiting for Approval</h3>
                </div>
                <div class="panel-body" data-drop="true" ng-model='waitingForApproval' jqyoui-droppable="{multiple:true}">
                    <div class="panel panel-default"  ng-repeat="item in waitingForApproval" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="waitingForApproval" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="panel-body">
                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Approved</h3>
                </div>
                <div class="panel-body" data-drop="true" jqyoui-droppable >
                    <div class="panel panel-default" data-drag="true" jqyoui-draggable data-jqyoui-options="{revert: 'invalid'}">
                            <div class="panel-body">
                                MIT License #3
                            </div>
                        </div>
                </div>
            </div>
        </div>-->
        <!--<div class="col-md-4" data-drop="true">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Waiting Approval</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>-->
    </div>
</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- ------------------------------------------------------------------------------------------------------------------------------

<script type="text/ng-template" id="field_renderer.html">
    {{data.label}}
    <ul>
        <li ng-repeat="field in data.fields" ng-include="'field_renderer.html'"></li>
    </ul>
</script>

<ul ng-controller="NestedFormCtrl">
    <li ng-repeat="field in formData" ng-include="'field_renderer.html'"></li>
</ul> -->